<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8" />

        <title>{% block title %}40º Congresso da SZB{% endblock %}</title>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        <header class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('inicio') }}" class="navbar-brand">Congresso SZB</a>
                </div>
                <nav class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" title="Página inicial">Início</a></li>
                        <li><a href="{{ path('sobre_congresso') }}" accesskey="2" title="">Sobre o Congresso</a></li>
                        <li><a href="#" title="Localização do evento">Local</a></li>
                        <li><a href="#" title="Faça a sua inscrição">Incrições</a></li>
                        <li><a href="#" title="Cronograma do evento">Cronograma</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block body %}{% endblock %}

        <footer id="footer">
            <p>2015 &copy; <b>CongressoSZB</b></p>
        </footer>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ asset('jquery.slidertron-1.1.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
