<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8" />

        <title>{% block title %}40º Congresso da SZB{% endblock %}</title>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        <header class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('inicio') }}" class="navbar-brand">Congresso SZB</a>
                </div>
                <nav class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('sobre_congresso') }}" title="Sobre o Congresso">O Congresso</a></li>
                        <li><a href="{{ path('mini_cursos') }}" title="Mini Cursos">Mini Cursos</a></li>
                        <li><a href="{{ path('local_congresso') }}" title="Localização do evento">Localização</a></li>
                        <li><a href="{{ path('inscricoes') }}" title="Faça a sua inscrição">Inscrições</a></li>
                        <li><a href="{{ path('cronograma') }}" title="Cronograma do evento">Programação</a></li>
                        <li><a href="{{ path('submissao') }}" title="Submissão">Submissão</a></li>
                        {#<li><a href="{{ path('hospedagem') }}" title="Submissão">Hospedagem</a></li>#}
                        {#<li><a href="{{ path('contato') }}" title="Submissão">Contato</a></li>#}
                    </ul>
                </nav>
            </div>
        </header>

        {% block body %}{% endblock %}

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <p class="text-muted">Parceiros do evento</p>
                        <div class="row">
                            <div class="col-xs-2">
                                <img class="img-responsive" src="{{ asset('images/logoszb.jpg') }}" alt="" />
                            </div>
                            <div class="col-xs-2">
                                <img class="img-responsive" src="{{ asset('images/logopmjp.jpg') }}" alt="" />
                            </div>
                            <div class="col-xs-2">
                                <img class="img-responsive" src="{{ asset('images/logobica.jpg') }}" alt="" style="height:50px;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <p class="text-right text-muted">2015 &copy; <b>CongressoSZB</b>
                        Atualizado em 06 de janeiro 2016</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
